{{!-- <div innerHtml="{{prefix}} '{{name}}.component.basic.demo' | translate {{suffix}}"></div>
<div innerHtml="{{prefix}} '{{name}}.api' | translate {{suffix}}"></div> --}}

<section class="markdown api-container" innerHtml="{{prefix}} '{{name}}.api' | translate {{suffix}}"></section>
