<article>
  <section class="markdown">
    <h1>
      {{prefix}}  '{{name}}.title' | translate {{suffix}}
      <span class="subtitle">{{prefix}} '{{name}}.subtitle' | translate {{suffix}}</span>
    </h1>
    <section class="markdown" innerHtml="{{prefix}} '{{name}}.howToUse' | translate {{suffix}}"></section>
  </section>
  <section class="markdown api-container" innerHtml="{{prefix}} '{{name}}.api' | translate {{suffix}}"></section>
</article>
