<div innerHtml="{{prefix}} 'hello.component.basic.demo' | translate {{suffix}}"></div>
<div innerHtml="{{prefix}} 'hello.api' | translate {{suffix}}"></div>
<div innerHtml="{{prefix}} 'hello.howToUse' | translate {{suffix}}"></div>
